* {
    font-family: 'Inter', sans-serif;
}

body {
    background: #F3F5FC;
}

main {
    display: flex;
    margin-bottom: 50px;
}

.logo {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
}

.input-texto {
    margin-top: 90px;
    margin-left: 200px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 630px;
    height: 300px;
    resize: none;
    font-size: 2em;
    font-style: normal;
    color: #0A3871;
}

::placeholder{
    color: #0A3871;
}

.picto{
    margin-right: 0.5em;
    height: 22px;
}

.aviso{
    display: flex;
    position: relative;
    margin-left: 200px; 
}

.mensagem {
    font-size: 15px;
    height: 2em;
    align-items: center;
    margin-bottom: 2px;
}

.botao-criptografar{
    background-color: #0A3871;
    width: 300px;
    height: 67px;
    border: none;
    border-radius: 24px;
    font-size: 1em;
    color: white;
    letter-spacing: 0.5px;
    margin-right: 1em;
    box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-criptografar:hover {
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    transition: 1s all;
    cursor: pointer;
}

.botao-descriptografar{
    background-color: #D8DFE8;
    width: 300px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 1em;
    color: #0A3871;
    letter-spacing: 0.5px;
    box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-descriptografar:hover {
    background-color: #0A3871;
    color: white;
    transition: 1s all;
    cursor: pointer;
}

.botoes{
    display: relative;
    margin-bottom: 2em;
    margin-left: 200px;
    margin-top: 40px;
}

.ilustra {
    display: flex;
    height: 210px;
    margin-left: 25px;
}

.frase1{
    position: relative;
    font-size: 24px;
    color: #343A40;
    width: 300px;
    text-align: center;
    margin-top: 5px;
}

.frase2{
    width: 300px;
    font-size: 15px;
    color: #343A40;
    text-align: center;
    margin-top: 3px;
}

.conjunto-ilustra{
    display: relative;
    z-index: +1;
    position: absolute;
    align-items: center;
    right: 110px;
    top: 70px;
    
}

.output-texto{
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
    border: none;
    background-color: white;
    border-radius: 25px;
    outline: none;
    width: 330px;
    height: 350px;
    resize: none;
    font-size: 24px; 
    padding: 40px;
    color: #0A3871;
    box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-copiar{
    background-color: white;
    margin-top: 18px;
    margin-left: 40px;
    width: 410px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 1em;
    color: #0A3871;
    letter-spacing: 0.5px;
    box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-copiar:hover {
    background-color: #0A3871;
    color: white;
    transition: 1s all;
    cursor: pointer;
}

.assinatura{
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #343A40;
    margin-left: 90px;
}

.linkedin{
    display: inline-block;
    position: relative;
    height: 30px;
    margin-left: 5px;
}

.github{
    display: inline-block;
    position: relative;
    height: 30px;
}

.conjunto-redes{
    position: absolute;
    right: 65px;
    padding-top: 10px;
}

.conjunto-rodape{
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: lightgrey;
}

@media screen and (max-width: 480px) {
    .conjunto-rodape{
        width: auto;
    }
} 
