body {
    font-family: 'Inter', sans-serif;
    background: #F3F5FC;
}

.logo {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
}

.input-texto {
    display: inline-block;
    position: absolute;
    margin-top: 140px;
    margin-left: 200px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 630px;
    height: 13em;
    resize: none;
    font-size: 2em;
    font-style: normal;
    color: #0A3871;
}

::placeholder{
    color: #0A3871;
}

.picto{
    margin-right: 0.5em;
}

.aviso{
    font-size: 12px;
    height: 2em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.botao-criptografar{
    background-color: #0A3871;
    width: 300px;
    height: 67px;
    border: none;
    border-radius: 24px;
    font-size: 1em;
    color: white;
    letter-spacing: 0.5px;
    margin-right: 1em;
}

.botao-descriptografar{
    background-color: #D8DFE8;
    width: 300px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 1em;
    color: #0A3871;
    letter-spacing: 0.5px;
}

.grupo-aviso-botoes{
    display: inline-block;
    position: absolute;
    top: 450px;
    margin-bottom: 2em;
    margin-left: 200px;
}

.frase1{
    position: relative;
    font-size: 1.5em;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin-top: 5px;
}

.frase2{
    width: 300px;
    font-size: 1em;
    text-align: center;
    margin-top: 5px;
}

.conjunto-ilustra{
    display: inline-block;
    position: absolute;
    align-items: center;
    right: 110px;
    top: 90px;
    
}

.output-texto{
    display: inline-block;
    position: absolute;
    z-index: -1;
    top: 1em;
    right: 80px;
    border: none;
    background-color: white;
    border-radius: 25px;
    outline: none;
    width: 30%;
    height: 525px;
    resize: none;
    font-size: 24px; 
}

.assinatura{
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-left: 40px;
}

.linkedin{
    display: inline-block;
    position: relative;
    height: 40px;
}

.github{
    display: inline-block;
    position: relative;
    height: 40px;
    margin-right: 2px;
}

.conjunto-redes{
    position: absolute;
    bottom: 6px;
    right: 140px;
}

.conjunto-rodape{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2%;
    background-color: lightgrey;
}

@media screen and (max-width: 480px) {
    .conjunto-rodape{
        width: auto;
    }

}