* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f3f5fc;
  width: 100%;
}

main {
  display: flex;
  width: 100%;
  height: calc(100vh - 40px);
}

header {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: left;
  padding: 1rem;
}

.container-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  gap: 25px;
}

.input-texto {
  padding: 12px;
  border: none;
  background-color: transparent;
  outline: none;
  width: 60%;
  height: 70%;
  resize: none;
  font-size: 2rem;
  font-style: normal;
  color: #0a3871;
}

::placeholder {
  color: #0a3871;
}

.conjunto-aviso-botoes {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.aviso {
  display: flex;
  margin-bottom: 10px;
}

.picto {
  margin-right: 0.5em;
  height: 1rem;
}

.mensagem {
  font-size: 0.688rem;
  height: 2em;
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botao-criptografar {
  background-color: #0a3871;
  width: 20.5rem;
  height: 67px;
  border: none;
  border-radius: 24px;
  font-size: 1em;
  color: white;
  letter-spacing: 0.5px;
  margin-right: 1rem;
  box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-criptografar:hover {
  background-color: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  transition: 1s all;
  cursor: pointer;
}

.botao-descriptografar {
  background-color: #d8dfe8;
  width: 20.5rem;
  height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-size: 1rem;
  color: #0a3871;
  letter-spacing: 0.5px;
  box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-descriptografar:hover {
  background-color: #0a3871;
  color: white;
  transition: 1s all;
  cursor: pointer;
}

.container-output {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  width: 25%;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.conjunto-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conjunto-ilustra {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  align-items: center;
}

.ilustra {
  display: flex;
  height: 210px;
}

.frase1 {
  font-size: 1.5rem;
  color: #343a40;
  width: 18.75rem;
  text-align: center;
  margin-top: 5px;
}

.frase2 {
  width: 18.75rem;
  font-size: 0.938rem;
  color: #343a40;
  text-align: center;
  margin-top: 3px;
}

.output-texto {
  border: none;
  background-color: white;
  border-radius: 25px;
  outline: none;
  width: 400px;
  max-height: 80vh;
  min-height: 75vh;
  resize: none;
  font-size: 24px;
  padding: 40px;
  color: #0a3871;
  box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-copiar {
  background-color: white;
  margin-top: 18px;
  width: 25.625rem;
  min-height: 67px;
  border: 1px solid #0a3871;
  border-radius: 24px;
  font-size: 1rem;
  color: #0a3871;
  letter-spacing: 0.5px;
  box-shadow: 1px 0.5px 9px 1px rgba(73, 73, 73, 0.377);
}

.botao-copiar:hover {
  background-color: #0a3871;
  color: white;
  transition: 1s all;
  cursor: pointer;
}

.assinatura {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  color: #343a40;
  margin-left: 90px;
}

.conjunto-redes {
  display: flex;
  position: absolute;
  right: 65px;
  padding-top: 10px;
}

.conjunto-redes img {
  margin-right: 15px;
}

.linkedin {
  position: relative;
  height: 20px;
}

.github {
  position: relative;
  height: 20px;
}

.conjunto-rodape {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: #0a3871;
}

.conjunto-rodape h3 {
  color: #d8dfe8;
}

@media screen and (max-width: 480px) {
  .conjunto-rodape {
    width: auto;
  }
}
